<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/header.css">
    <link rel="stylesheet" href="style/footer.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
<title>Book Notes</title>
</head>
<body>
<nav class="nav-menu">
    <div class="nav-buttons">
<a class="home-btn" href="/">HOME</a>
<a class="add-btn" href="/add">ADD NEW NOTE</a>  
    </div>
</nav>